template(name='home')
    .ui.stackable.padded.grid
        //- .row
        //-     .sixteen.wide.center.aligned.column
        //-         if currentUser
        //-             .ui.header 
        //-                 if currentUser.profile_image_id
        //-                     img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        //- 
        //-                 if is_admin
        //-                     +icon name='shield'
        //-                 |hi #{currentUser.username}
        //-         else
        //-             .ui.header Welcome to One Riverside
        .four.column.row
            .column
                .ui.header
                    +icon name='payment-history'
                    |latest debits
                .smallscroll
                    .ui.selection.link.list
                        each news_items
                            a.item(href="/debit/#{_id}/view")
                                .content
                                    .header
                                        .ui.basic.label #{amount}pt
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                        | #{_author_username}
                                        |>
                                        img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                        |#{target.username}
                                    .meta #{when}
                                    .description 
                                        |#{description}
                                    each tags 
                                        .ui.tiny.basic.label #{this}
            .column
                //- .ui.header 
                //-     +icon name='leaderboard'
                //-     |leaderboard
                .ui.header
                    +icon name='donate'
                    |most given
                .smallscroll
                    .ui.selection.link.list
                        each most_given
                            //- a.item(href="/user/#{username}") #{username} ##{global_debit_count_rank}
                            a.item(href="/user/#{username}")
                                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")

                                .content
                                    .header #{username}:
                                        |#{debit_count}
                //- .ui.header
                //-     +icon name='picture'
                //-     |photos
                //- .ui.selection.link.list
                //-     each photos
                //-         .item #{post}
            .column
                .ui.header
                    +icon name='get-cash'
                    |most received
                .smallscroll
                    .ui.selection.link.list
                        each most_received
                            a.item(href="/user/#{username}")
                                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                .content
                                    .header
                                        |#{username}:
                                        |#{credit_count}
                        
                //- .ui.header
                //-     +icon name='chat'
                //-     |posts
                //- .ui.selection.link.list
                //-     each user_posts
                //-         .item #{post}
            .column
                .ui.header
                    +icon name='trust'
                    |offers
                .smallscroll
                    .ui.selection.list
                        each offers
                            a.item(href="/offer/#{_id}/view")
                                .header #{amount}pts
                                |#{_author.username}
                                |#{description}
                                |#{when}
                //- .ui.header
                //-     |most total
                //- .ui.header
                //-     +icon name='calendar'
                //-     |events
                //- .ui.selection.link.list
                //-     each user_events
                //-         .item #{post}
        .four.column.row
            .column
                .ui.header
                    +icon name='compass'
                    |Explorer
                .ui.list
                    .item 0 per diem
                .ui.big.input
                    input.submit_email(type='text' placeholder='input email')
                if is_admin
                    each email_signups
                        .ui.small.header #{email_address}
            .column
                .ui.header
                    +icon name='badge'
                    |Member
                .ui.list
                    .item 0 per diem
            .column
                .ui.header
                    +icon name='worker-male'
                    |Regenerator
                .ui.list
                    .item 20 per diem            
            .column
                .ui.header
                    +icon name='shield'
                    |Steward
                .ui.list
                    .item 50 per diem            
    
        //- .row
        //-     .eight.wide.column
        //-         .ui.header 
        //-             +icon name='sprout'
        //-             |Generated
        //-         each credits
        //-             .item #{when}
        //-     .eight.wide.column
        //-         .ui.header 
        //-             +icon name='rain'
        //-             |Spent
        //-         .ui.list.smallscroll
        //-             each debits
        //-                 .item
        //-                     img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        //-                     .content
        //-                         .header #{when} from 
        //-                             a(href="/user/#{username}")
        //-                                 |#{author.username}
        //-                         .description
        //-                             strong #{amount} 
        //- .row
        //-     .four.wide.column
        //-         .ui.header 
        //-             +icon name='diamond-care-1'
        //-             |join
        //-         .ui.big.input.email_signup
        //-             input(type='text')
