template(name='home')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.center.aligned.column
                if currentUser
                    .ui.header 
                        if currentUser.profile_image_id
                            img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")

                        if is_admin
                            +icon name='shield'
                        |hi #{currentUser.username}
                else
                    .ui.header Welcome to One Riverside
        .four.column.row
            .column
                .ui.header
                    +icon name='rss'
                    |news
                .ui.selection.link.list
                    each news_items
                        a.item(href="/debit/#{_id}/view")
                            .header
                                strong #{amount}pt
                                | #{_author_username}
                                |>
                                |#{target.username}
                            .description 
                                .meta #{when}
                                |#{description}
                            each tags 
                                .ui.mini.basic.label #{this}
            .column
                .ui.header 
                    +icon name='leaderboard'
                    |leaderboard
                .ui.small.header
                    |most given
                //- .ui.header
                //-     +icon name='picture'
                //-     |photos
                //- .ui.selection.link.list
                //-     each photos
                //-         .item #{post}
            .column
                .ui.header
                    |most received
                //- .ui.header
                //-     +icon name='chat'
                //-     |posts
                //- .ui.selection.link.list
                //-     each user_posts
                //-         .item #{post}
            .column
                .ui.header
                    |most total
                //- .ui.header
                //-     +icon name='calendar'
                //-     |events
                //- .ui.selection.link.list
                //-     each user_events
                //-         .item #{post}
        .four.column.row
            .column
                .ui.header
                    +icon name='compass'
                    |Explorer
                .ui.list
                    .item 0 per diem
                .ui.big.input
                    input.submit_email(type='text' placeholder='input email')
                if is_admin
                    each email_signups
                        .ui.small.header #{email_address}
            .column
                .ui.header
                    +icon name='badge'
                    |Member
                .ui.list
                    .item 0 per diem
            .column
                .ui.header
                    +icon name='worker-male'
                    |Regenerator
                .ui.list
                    .item 20 per diem            
            .column
                .ui.header
                    +icon name='shield'
                    |Steward
                .ui.list
                    .item 50 per diem            
    
        .row
            .eight.wide.column
                .ui.header 
                    +icon name='sprout'
                    |Generated
                each credits
                    .item #{when}
            .eight.wide.column
                .ui.header 
                    +icon name='rain'
                    |Spent
                .ui.list.smallscroll
                    each debits
                        .item
                            img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            .content
                                .header #{when} from 
                                    a(href="/user/#{username}")
                                        |#{author.username}
                                .description
                                    strong #{amount} 
        //- .row
        //-     .four.wide.column
        //-         .ui.header 
        //-             +icon name='diamond-care-1'
        //-             |join
        //-         .ui.big.input.email_signup
        //-             input(type='text')
