template(name='nav')
    .ui.fluid.attached.borderless.inverted.blue.small.menu.topnav
        a.item(href="/")
            .ui.inverted.header
                +icon name='hand-planting'
                |the stand
        //- .item.mobile.hidden
        //-     .ui.input 
        //-         input(type='text' placeholder='search...')
        //- a.icon.item.mobile.hidden(href="/shop" class="{{isActivePath '/shop'}}")
        //-     +icon name='shop' cl='ui mini image'
        //- a.icon.item.mobile.hidden(href="/users" class="{{isActivePath '/users'}}")
        //-     +icon name='groups' cl='ui mini spaced image'
        //-     //- strong users
        //- a.icon.item.mobile.hidden(href="/groups" class="{{isActivePath '/groups'}}")
        //-     +icon name='meeting-room' cl='ui mini spaced image'
        //-     //- strong groups
        //- a.icon.item.mobile.hidden(href="/tasks" class="{{isActivePath '/tasks'}}")
        //-     //- i.circular.users.icon
        //-     +icon name='tasks' cl='ui mini spaced image'
        //-     //- strong groups
        //- a.icon.item.mobile.hidden(href="/projects" class="{{isActivePath '/projects'}}")
        //-     //- i.circular.users.icon
        //-     +icon name='project' cl='ui mini spaced image'
        //-     //- strong groups
        .right.menu
            //- a.icon.item(href="/m/model") 
            //-     i.code.large.icon
            //- if is_admin
            //-     a.icon.item(href="/admin") 
            //-         i.large.shield.large.icon
            //- a.icon.item.mobile.hidden(href="/help") 
            //-     i.question.large.icon
        
            if currentUser
                //- a.icon.item
                //-     i.plus.large.icon
                //- a.icon.item
                //-     i.large.chat.large.icon
                //- a.icon.item
                //-     i.large.bell.large.icon
                a.item(href="/user/#{currentUser.username}")
                    //- i.large.user.large.icon
                    .ui.circular.label 
                        |#{currentUser.karma}
                    |#{currentUser.username}
            else
                a.item(href="/login")
                    i.large.sign.in.alternate.icon
                    |login
    .ui.fluid.attached.menu.secnav
        each models
            a.item.goto_model(href="/m/#{slug}")
                //- i.icon(class=icon)
                //- if color_icon
                +icon name=color_icon cl='ui avatar image'
                |#{title}
                
        
template(name='bottom_nav')
        if in_role 'admin'
            .ui.bottom.fixed.menu
                a.icon.item.go_home(href='/' class="{{isActivePath '/'}}" title='models')
                    i.large.large.home.icon
                a.icon.item.mobile.hidden(href='/users' class="{{isActivePath '/users'}}" title='users')
                    i.large.large.users.icon
        if in_role 'business'
            .ui.bottom.fixed.six.item.menu.mobile.only
                a.icon.item(href='/business_home' class="{{isActivePath '/business_home'}}" title='home')
                    i.large.home.icon
                a.icon.item(href='/business_clients' class="{{isActivePath '/business_clients'}}" title='clients')
                    i.large.database.icon
                a.icon.item(href='/business_onboarding' class="{{isActivePath '/business_onboarding'}}" title='onboarding')
                    i.large.arrow.up.icon
                a.icon.item(href='/mail' class="{{isActivePath '/mail'}}" title='mail')
                    i.large.chat.icon
                a.icon.item(href='/search' class="{{isActivePath '/search'}}" title='search')
                    i.large.search.icon
                a.icon.item(href='/business_profile' class="{{isActivePath '/business_profile'}}" title='search')
                    i.large.user.outline.icon
            .ui.bottom.fixed.six.item.menu.mobile.hidden
                a.item(href='/business_home' class="{{isActivePath '/business_home'}}" title='home')
                    i.large.home.icon
                    |home
                a.item(href='/business_clients' class="{{isActivePath '/business_clients'}}" title='clients')
                    i.large.database.icon
                    | clients
                a.item(href='/onboarding' class="{{isActivePath '/business_home'}}" title='home')
                    i.large.arrow.up.icon
                    | onboarding
                a.item(href='/chat' class="{{isActivePath '/chat'}}" title='home')
                    i.large.chat.icon
                    | mail
                a.item(href='/search' class="{{isActivePath '/search'}}" title='search')
                    i.large.search.icon
                    | search
                a.item(href='/business_profile' class="{{isActivePath '/business_profile'}}" title='search')
                    i.large.user.outline.icon
                    | profile
                
        if in_role 'student'
            .ui.bottom.fixed.six.item.menu.mobile.only
                a.icon.item(href='/student_home' class="{{isActivePath '/student_home'}}" title='home')
                    i.large.home.icon
                a.icon.item(href='/student_schedule' class="{{isActivePath '/student_schedule'}}" title='clients')
                    i.large.calendar.icon
                a.icon.item(href='/student_tasks' class="{{isActivePath '/student_tasks'}}" title='tasks')
                    i.large.arrow.up.icon
                a.icon.item(href='/student_development' class="{{isActivePath '/student_development'}}" title='home')
                    i.large.line.chart.icon
                a.icon.item(href='/student_mail' class="{{isActivePath '/student_mail'}}" title='mail')
                    i.large.chat.icon
                a.icon.item(href='/student_profile' class="{{isActivePath '/student_profile'}}" title='profile')
                    i.large.user.outline.icon
            .ui.bottom.fixed.six.item.menu.mobile.hidden
                a.item(href='/student_home' class="{{isActivePath '/student_home'}}" title='home')
                    i.large.home.icon
                    | home
                a.item(href='/student_schedule' class="{{isActivePath '/student_schedule'}}" title='clients')
                    i.large.calendar.icon
                    | schedule
                a.item(href='/student_tasks' class="{{isActivePath '/student_tasks'}}" title='tasks')
                    i.large.checkmark.icon
                    | tasks
                a.item(href='/student_development' class="{{isActivePath '/student_development'}}" title='home')
                    i.large.line.chart.icon
                    | development
                a.item(href='/student_mail' class="{{isActivePath '/student_mail'}}" title='mail')
                    i.large.chat.icon
                    | mail
                a.item(href='/student_profile' class="{{isActivePath '/student_profile'}}" title='profile')
                    i.large.user.outline.icon
                    | profile
            
        if in_role 'teacher'
            .ui.bottom.fixed.six.item.menu
                a.icon.item(href='/student_home' class="{{isActivePath '/student_home'}}" title='home')
                    i.large.home.icon
                a.icon.item(href='/student_schedule' class="{{isActivePath '/student_schedule'}}" title='clients')
                    i.large.database.icon
                a.icon.item(href='/teacher_students' class="{{isActivePath '/teacher_students'}}" title='tasks')
                    i.large.users.icon
                a.icon.item(href='/student_development' class="{{isActivePath '/student_development'}}" title='home')
                    i.large.building.icon
                a.icon.item(href='/student_mail' class="{{isActivePath '/student_mail'}}" title='mail')
                    i.large.chat.icon
                a.icon.item(href='/student_profile' class="{{isActivePath '/student_profile'}}" title='profile')
                    i.large.user.outline.icon
            
            

template(name='footer')
    .ui.stackable.padded.grid.secondary.segment.mobile.hidden
        .row
            .four.wide.column
                //- .ui.link.large.list
                //-     a.item(href='/p/about')
                //-         | what is dao?
                //-     //- a.item(href='/prime')
                //-     //-     | forest prime
                //-     a.item(href="/p/terms") 
                //-         | terms of service
                //-     a.item(href="/p/privacy") 
                //-         | privacy policy
                //-     //- a.item(href='/sponsor') 
                //-     //-     | sponsor
            .four.wide.column
                .ui.selection.animated.list
                    if is_admin
                        a.item(href='/m/model' class="{{isActivePath '/m/model'}}")
                            i.large.database.icon
                            |models
                    //- a.icon.item(href='/m/internship' class="{{isActivePath '/m/internship'}}")
                    //-     +icon name='work' cl='ui avatar image'
                    //-     |internships
                    //- a.icon.item(href='/m/business' class="{{isActivePath '/m/business'}}")
                    //-     +icon name='business' cl='ui avatar image'
                    //-     |businesses
                    a.item(href='/users' class="{{isActivePath '/users'}}")
                        +icon name='groups' cl='ui avatar image'
                        |users
                    a.item(href='/groups' class="{{isActivePath '/groups'}}")
                        +icon name='meeting-room' cl='ui avatar image'
                        |groups
                    a.item(href='/m/event' class="{{isActivePath '/m/event'}}")
                        +icon name='calendar' cl='ui avatar image'
                        |events
                    a.item(href='/chat' class="{{isActivePath '/chat'}}")
                        +icon name='chat' cl='ui avatar image'
                        |mail
                    a.item(href='/m/alert' class="{{isActivePath '/m/alert'}}")
                        //- i.bell.icon(class=alert_icon_class)
                        i.large.rss.icon
                        |alerts
                if currentUser
                    .ui.link.large.list
                        a.item(href='/users')
                            i.large.users.icon
                            | users
                unless currentUser
                    .ui.link.large.list
                        a.item(href='/login')
                            |login



            .four.wide.column

                //- +footer_chat
                //- if is_admin
                with currentUser
                    +role_switcher
            .four.wide.column
                +bug_reporter 
                .ui.grey.small.header    
                    i.large.copyright.outline.icon 
                    |2020 the stand coop
            //- 
template(name='footer_chat')
    a.ui.grey.header(href="/chat")
        i.chat.outline.small.icon
        |chat
        //- .scroll
    .ui.comments
        each chat_messages
            .comment(title="by #{_author_username} #{when}")
                //- if author.image_id
                //-     img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    a.author #{_author_username}
                    .metadata
                        span.date #{when}
                    .text
                        |#{text}
                if is_author
                    span
                        i.large.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


template(name='bug_reporter')
    a.ui.small.grey.header.start_report(href="#")
        i.bug.small.icon
        |report bug
    if reporting_bug
        with new_bug
            |#{pathname}
            +text_edit key='text' direct=true
            .ui.icon.fluid.button.submit_report
                i.checkmark.icon
            .ui.small.icon.button.cancel_bug
                i.remove.icon




template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}



template(name='role_switcher')
    //- .ui.inline.center.aligned.small.grey.header 
    //-     |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    if is_dev
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
        +user_array_element_toggle key='roles' value='admin' user=currentUser
    +user_array_element_toggle key='roles' value='contributor' user=currentUser
    +user_array_element_toggle key='roles' value='customer' user=currentUser
    //- +user_array_element_toggle key='roles' value='teacher' user=currentUser
    //- +user_array_element_toggle key='roles' value='parent' user=currentUser
