template(name='earn_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .five.wide.column
                    a.ui.large.button(href="/earn")
                        i.left.chevron.icon
                        |earn
                    a.ui.icon.button(href="/earn/#{_id}/edit" title='edit')
                        i.pencil.grey.icon
                    div
                    +author_info
                    +creation_info
                .seven.wide.column
                    .ui.header #{title}
                    | !{description}
                    +image_view key='image_id'
                    div
                    +comments
                .four.wide.column
                    .ui.header #{bounty} points offered
                    if group_id
                        .ui.header
                            i.list.icon
                            |group
                        with group
                            |#{title}
                    div
                    .ui.inline.small.grey.header
                        i.small.grey.sign.in.inline.icon
                        |assigned to
                    .ui.inline.header #{assigned_to}
                    div
                    .ui.small.inline.grey.header
                        i.small.grey.sign.out.inline.icon
                        | assigned by
                    .ui.inline.header #{assigned_by}
                    if due_date
                        div
                        .ui.small.grey.inline.header
                            i.small.grey.calendar.inline.icon
                            | due date
                        .ui.inline.header #{due_date}
                        div
                        .ui.small.grey.inline.header due
                        .ui.inline.header
                            |{{from_now due_date}}
                    div
                    if due_time
                        .ui.inline.small.grey.header  due time
                        .ui.inline.header #{due_time}
                    if complete
                        .ui.large.green.label
                            |complete
                        .ui.icon.button.mark_incomplete(title='mark incomplete')
                            i.remove.icon
                    else
                        .ui.large.label
                            |incomplete
                        .ui.icon.button.mark_complete(title='mark complete')
                            i.checkmark.icon
                    .ui.grey.header
                        i.small.inline.rss.icon
                        |activity
                    .ui.feed
                        each log_events
                            .event
                                .content
                                    .summary
                                        |#{text}
                                    .meta
                                        |#{when}
                                        if is_admin
                                            +remove_icon
                    if percent_complete
                        .ui.disabled.indicating.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                            .bar
                                .progress
                            .label complete
                        .ui.hidden.divider
                    if weight
                        .ui.disabled.indicating.progress(data-percent="{{weight}}" title="{{weight}} weight")
                            .bar
                                .progress
                            .label weight
