template(name='earn')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +icon name='sprout'
                    | Generate
                if currentUser
                    if is_admin
                        .ui.icon.large.button.new_earn
                            i.green.plus.icon
                //- div
                //- +earn_cloud
                //- .ui.small.header 
                //-     +icon name='sun'
                //-     |per diem
                //- .ui.list
                //-     .item 0 explorer
                //-     .item 0 member
                //-     .item 30 regenerator
                //-     .item 50 steward
                //- with currentUser
                    //- .ui.list
                    //-     .item(title='hours today')
                    //-         i.sun.icon
                    //-         i.clock.icon
                    //-         | #{daily_hours}hrs
                    //-     .item(title='weekly hours')
                    //-         i.calendar.icon
                    //-         i.clock.icon
                    //-         | #{weekly_hours}hrs
                    //-     .item(title='sessions today')
                    //-         i.sun.icon
                    //-         i.business.time.icon
                    //-         | #{daily_sessions} sessions
                    //-     .item(title='weekly sessions')
                    //-         i.calendar.icon
                    //-         i.business.time.icon
                    //-         | #{weekly_sessions} sessions
            .twelve.wide.center.aligned.column
                //- with top_earn
                //-     +earn_card_template
                //- i.link.refresh.icon.refresh_my_time_stats
                //- .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                //-     i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                //- |sort by 
                //- .ui.small.compact.button lucrative
                //- .ui.small.compact.button soonest
                //- .ui.small.compact.button priority
                //- .ui.header click this item as many times as hours you've contributed
                .ui.header 
                    +icon name='clock'
                    |upcoming shifts
                if in_role 'steward'
                    .ui.button.add_shift
                        i.plus.icon
                        |add shift
                each upcoming_shifts
                    .ui.header #{when}
                //- .ui.cards
                //-     each earn_docs
                //-         +earn_card_template
                
                    

template(name='earn_cloud')
    //- #earn_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if selected_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=earn_cloud_tag_class) 
            strong #{this.name}




template(name='earn_card_template')
    .ui.link.card.record_earn
        img.ui.image(src="{{c.url image width=400 height=300 crop='fill'}}")    
        .content
            //- a.ui.header(href="/earn/#{_id}/view") #{title}
            .ui.header #{title}
            div
            |#{description}
            .ui.header 
                |+#{points}
                |points
            if assigned_to
                .ui.large.basic.label(title='assigned to')
                    |#{assigned_to}
