template(name='gift_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .five.wide.column
                    a.ui.large.button(href="/gift")
                        i.left.chevron.icon
                        |gift
                    a.ui.icon.button(href="/item/#{_id}/edit" title='edit')
                        i.pencil.grey.icon
                    div
                    +author_info
                    +creation_info
                    //- div
                    //- +viewing
                    //- div
                    //- +voting_full
                .six.wide.column
                    .ui.header #{title}
                    | !{description}
                    div
                    img.ui.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
                    +comments
                .five.wide.column
                    .ui.segment
                        a.ui.header(href="/user/#{author.username}") 
                            |#{author.username}
                    .ui.segment
                        .ui.header
                            +icon name='campfire'
                            |tribes
                        each tribes
                            .ui.header #{title}
                    
