template(name='gift_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.large.button(href="/item/#{_id}/view") 
                        i.checkmark.icon
                        |save
                    .ui.button.delete_item
                        |delete
                        i.large.red.remove.icon
                    +number_edit key='price' label='price' direct=true
                
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
