template(name='badges')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header.refresh_stats
                    i.shield.icon
                    |badges
                if is_admin
                    .ui.icon.button.add_badge(title='add badge')
                        i.plus.icon
            .twelve.wide.column
                .ui.header purchased badges
                .ui.cards
                    each purchased_badges
                        +badge_doc
                .ui.header available badges
                .ui.cards
                    each available_badges
                        +badge_doc
                    

template(name='badge_doc')                    
    .ui.card
        .content
            .ui.header
                +i name=icon
                |#{title}
            |#{purchase_user_ids.length} purchases
            //- each purchase_user_ids
            //-     .ui.label #{this}
            if purchased
                .ui.button.return
                    i.undo.icon
                    |return +1
            else
                .ui.green.button.purchase
                    i.checkmark.icon
                    |purchase -1
            if can_edit
                a.ui.icon.button(href="/badge/#{_id}/edit")
                    i.pencil.icon   


template(name='badge_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +badge_calendar
            .row
                .four.wide.column
                    a.ui.fluid.button(href='/badges' title='badges')
                        i.left.chevron.large.icon
                    .ui.header added by #{_author_username}
                    |#{when}
                    .ui.small.header #{view_count} views
                    //- with _author_id
                    //-     +user_card
                .seven.wide.column
                    h2
                        +i name=icon
                        .ui.center.aligned.inline.header #{title}
                    div
                    i.tag.icon
                    each tags
                        .ui.large.label #{this}
                    div
                    //- else 
                    //-     .ui.header not bought
                    +comments
                    .ui.header.recalc_similar_items similar items
    
                .five.wide.column
                    if can_edit
                        a.ui.large.button(href="/badge/#{_id}/edit" title='edit')
                            i.pencil.blue.icon
                            |edit
                    +voting_full
                    div
                    
                    
template(name='badge_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}'
                    a.ui.big.icon.fluid.button(href="/badge/#{_id}/view" title='save')
                        i.checkmark.green.icon
                    +remove_button
                .ten.wide.column
                    +text_edit key='title' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +color_icon_edit key='icon' label='icon' direct=true
