template(name='badges')
    .ui.padded.stackable.grid
        .four.wide.column
            +badge_cloud
        .twelve.wide.column
            .scrolling
                .ui.stackable.four.cards
                    each badges
                        +badge_item




template(name='badge_cloud')
    i.tags.icon
    if selected_user_tags
        #clear_tags.ui.primary.icon.button
            i.remove.icon
        each selected_user_tags
            .unselect_tag.ui.primary.button
                strong #{this}
    each all_tags
        .ui.compact.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='badge_item')
    .card
        a(href="/user/#{username}")
            +icon name=icon
            //- img.ui.raw.image(src="{{c.url profile_image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.inline.header(href="/badge/#{username}")
                |#{title}
                //- |#{username}
        .content
            each levels
                .ui.label #{this}
            strong #{debit_count} debits
            span ##{global_debit_count_rank}
            strong #{credit_count} credits
            span ##{global_credit_count_rank}
            .ui.small.header #{points} points
            each first_five_tags
                .ui.circular.basic.label #{this}
        //- .content
        //-     +user_friend_button
        
        //- .ui.button send credit
