template(name='debit_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    .ui.button.delete_item
                        |delete
                        i.large.red.remove.icon
                
                .eight.wide.column
                    .ui.header target #{target.username}
                    +number_edit key='amount' label='amount' direct=true
                    +text_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.fluid.green.button.submit
                        i.checkmark.icon
                        |submit
