template(name='help')
    .ui.padded.stackable.grid
        .four.wide.column
            .ui.header
                +icon name='help'
                |help
            if is_admin
                .ui.icon.button.add_ticket
                    i.plus.large.icon
            +ticket_cloud
        .twelve.wide.column
            .scrolling
                .ui.stackable.four.cards
                    each tickets
                        +ticket_item




template(name='ticket_cloud')
    i.tags.icon
    if selected_user_tags
        #clear_tags.ui.primary.icon.button
            i.remove.icon
        each selected_user_tags
            .unselect_tag.ui.primary.button
                strong #{this}
    each all_tags
        .ui.compact.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='ticket_item')
    a.card(href="/ticket/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url job.image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/ticket/#{_id}/view")
                |#{job.title}
            .ui.list 
                .item #{date} date
                .item #{start_time} start time
                .item #{end_time} end time
                .item #{steward.username} steward (lead?)
            .ui.list
                each contributers
                    .item #{username} contributer
                //- |#{username}
        .content
        



template(name='ticket_view')
    with current_doc
        .ui.stackable.padded.grid
            .center.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.fluid.button(href="/tickets")
                        i.chevron.left.icon
                        |tickets
                .eight.wide.center.aligned.column
                    .ui.header 
                        +icon name='clock'
                        |view ticket 
                        |#{title}
                .four.wide.center.aligned.column
            .row 
                .four.wide.column
                .eight.wide.column
                    .ui.header
                        |participants
                    each recipients
                        a.ui.header(href="/user/#{username}")
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    if can_edit 
                        a.ui.button(href="/ticket/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    a.ui.header(href="/ticket/#{_id}/view")
                        |#{job.title}
                    .ui.list 
                        .item #{date} date
                        .item #{start_time} start time
                        .item #{end_time} end time
                        .item #{steward.username} steward (lead?)
                    .ui.list
                        each contributers
                            .item #{username} contributer
                            
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='ticket_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.fluid.green.big.button(href="/ticket/#{_id}/view")
                        i.checkmark.big.icon
                        |save
                .eight.wide.center.aligned.column
                    .ui.header 
                        +icon name='clock'
                        |edit ticket
                .four.wide.center.aligned.column
                    .ui.small.basic.button.delete_item
                        i.large.red.remove.icon
                        |delete
            .row 
                .four.wide.column
                    +image_edit key='image_id' label='image' direct=true
                    .ui.small.header #{job} job
                .eight.wide.column
                    .ui.header 
                        small author
                        |#{_author.username}
                    |#{target.username}
                    +date_edit key='date' label='date' direct=true
                    +time_edit key='start_time' label='start time' direct=true
                    +time_edit key='end_time' label='end time' direct=true
                    //- +multi_user_ref key=leader_ids direct=true
                    .item #{steward.username} steward (lead?)
                    +textarea_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header leader(s)
                    each ticket_leaders
                        .ui.item #{username}
                    +number_edit key='leader_bounty' label='leader bounty' direct=true
                    .ui.header contributers
                    each ticket_leaders
                        .ui.item #{username}
                    
