template(name='tribes')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +icon name='campfire'
                    |tribe
                .ui.icon.large.button.new_tribe
                    i.green.plus.icon
                div
                +tribe_cloud
                //- with currentUser
                //-     .ui.list
                //-         .item(title='hours today')
                //-             i.sun.icon
                //-             i.clock.icon
                //-             | #{daily_hours}hrs
                //-         .item(title='weekly hours')
                //-             i.calendar.icon
                //-             i.clock.icon
                //-             | #{weekly_hours}hrs
                //-         .item(title='sessions today')
                //-             i.sun.icon
                //-             i.business.time.icon
                //-             | #{daily_sessions} sessions
                //-         .item(title='weekly sessions')
                //-             i.calendar.icon
                //-             i.business.time.icon
                //-             | #{weekly_sessions} sessions
            .twelve.wide.column
                //- i.link.refresh.icon.refresh_my_time_stats
                //- .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                //-     i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                |sort by 
                .ui.small.compact.button lucrative
                .ui.small.compact.button soonest
                .ui.small.compact.button priority
            
                .largescroll
                    .ui.cards
                        each tribe_docs
                            +tribe_card_template
                    
                    

template(name='tribe_cloud')
    //- #tribe_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if selected_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=tribe_cloud_tag_class) 
            strong #{this.name}




template(name='tribe_card_template')
    .ui.card.select_tribe(class=tribe_segment_class)
        .content
            a.ui.header(href="/tribe/#{_id}/view") #{title}
            div
            .ui.list 
                .item(title='views')
                    i.eye.icon 
                    |#{views}
                .item(title='points')
                    i.thumbs.up.outline.icon
                    |#{points}
                if tribe_list_id 
                    .item(title='tribe list')
                        i.list.icon 
                        |#{tribe_list.title}
                .item
                    i.grey.tags.icon 
                    each five_tags
                        .ui.small.basic.label #{this}
            div
            .ui.header #{bounty} points offered
            //- if assigned_by
            //-     .ui.large.basic.label(title='assigned by')
            //-         |#{assigned_by}
            //-     .ui.small.inline.header 
            if assigned_to
                .ui.large.basic.label(title='assigned to')
                    |#{assigned_to}
            unless complete
                if percent_complete
                    .rounded(style="height:5px;width:{{percent_complete}}%;background-color:grey" title="{{percent_complete}}% complete")
                        //- 
                        //- .ui.bottom.attached.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                        //-     .bar
                            //- .progress
                        //- .label complete
        .spacer
