template(name='tribe_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.large.button(href="/tribe/#{_id}/view") 
                        i.checkmark.green.icon
                        |save
                    +remove_button
                .eight.wide.column
                    .ui.header 
                        i.pencil.icon
                        |edit tribe
                    +text_edit key='title' label='title' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .four.wide.column
                    +multi_user_edit key='tribe_member_ids' label='tribe members' icon='users' direct=true
