template(name='users')
    .ui.padded.stackable.grid
        .four.wide.column
            //- +user_cloud
        .twelve.wide.column
            .ui.stackable.four.cards
                each users
                    +user_item




template(name='user_cloud')
    .ui.grey.header 
        i.tags.icon
        |tags
    if selected_tags
        #clear_tags.ui.primary.icon.large.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.large.button
                strong #{this}
    each all_tags
        .ui.large.compact.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='user_item')
    .ui.card
        a(href="/user/#{username}")
            img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.inline.header(href="/user/#{username}") #{username}
            .ui.inline.green.header $#{credit}
            each tags
                .ui.large.label #{this}
        .content
            +user_friend_button
        
            //- .ui.button send credit
                
