template(name='work')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    i.work.icon
                    |work
                .ui.icon.large.button.new_work
                    i.green.plus.icon
                div
                +work_cloud
                //- with currentUser
                //-     .ui.list
                //-         .item(title='hours today')
                //-             i.sun.icon
                //-             i.clock.icon
                //-             | #{daily_hours}hrs
                //-         .item(title='weekly hours')
                //-             i.calendar.icon
                //-             i.clock.icon
                //-             | #{weekly_hours}hrs
                //-         .item(title='sessions today')
                //-             i.sun.icon
                //-             i.business.time.icon
                //-             | #{daily_sessions} sessions
                //-         .item(title='weekly sessions')
                //-             i.calendar.icon
                //-             i.business.time.icon
                //-             | #{weekly_sessions} sessions
            .twelve.wide.column
                //- with top_work
                //-     +work_card_template
                //- i.link.refresh.icon.refresh_my_time_stats
                //- .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                //-     i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                |sort by 
                .ui.small.compact.button lucrative
                .ui.small.compact.button soonest
                .ui.small.compact.button priority
            
                .largescroll
                    .ui.cards
                        each work_docs
                            +work_card_template
                    
                    

template(name='work_cloud')
    //- #work_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if selected_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=work_cloud_tag_class) 
            strong #{this.name}




template(name='work_card_template')
    .ui.card.select_work(class=work_segment_class)
        .content
            a.ui.header(href="/work/#{_id}/view") #{title}
            div
            .ui.list 
                .item(title='views')
                    i.eye.icon 
                    |#{views}
                .item(title='points')
                    i.thumbs.up.outline.icon
                    |#{points}
                if work_list_id 
                    .item(title='work list')
                        i.list.icon 
                        |#{work_list.title}
                .item
                    i.grey.tags.icon 
                    each five_tags
                        .ui.small.basic.label #{this}
            div
            .ui.header #{bounty} karma offered
            //- if assigned_by
            //-     .ui.large.basic.label(title='assigned by')
            //-         |#{assigned_by}
            //-     .ui.small.inline.header 
            if assigned_to
                .ui.large.basic.label(title='assigned to')
                    |#{assigned_to}
            unless complete
                if percent_complete
                    .rounded(style="height:5px;width:{{percent_complete}}%;background-color:grey" title="{{percent_complete}}% complete")
                        //- 
                        //- .ui.bottom.attached.progress(data-percent="{{percent_complete}}" title="{{percent_complete}}% complete")
                        //-     .bar
                            //- .progress
                        //- .label complete
        .spacer



template(name='selected_work')
    if editing_work 
        +text_edit key='title' direct=true
        +array_edit key='tags' direct=true
        div
        .ui.icon.large.button.save_work(title='save work') 
            i.checkmark.green.large.icon
        .ui.icon.small.button.delete_work(title='delete work') 
            i.remove.icon
    else 
        .ui.small.header #{title}
        +array_view key='tags' direct=true
        div
        .ui.icon.large.button.edit_work(title='edit work') 
            i.pencil.blue.icon
        .ui.icon.large.button.goto_work(title='view work') 
            i.right.chevron.large.icon
        div
        +voting_full


template(name='subscriptions')
    .ui.inline.grey.header 
        i.newspaper.small.icon
        |subscriptions
    if subscribed 
        .ui.icon.button.unsubscribe(title='unsubscribe')
            i.bell.slash.outline.icon
    else 
        .ui.icon.button.subscribe(title='subscribe')
            i.bell.outline.icon
    .ui.list
        each subscribers
            .item #{username}
