template(name='generate')
    .ui.stackable.padded.grid
        .row
            //- .four.wide.column
            //-     .ui.inline.header 
            //-         i.generate.icon
            //-         |generate
            //-     .ui.icon.large.button.new_generate
            //-         i.green.plus.icon
            //-     div
            //-     +generate_cloud
                //- with currentUser
                //-     .ui.list
                //-         .item(title='hours today')
                //-             i.sun.icon
                //-             i.clock.icon
                //-             | #{daily_hours}hrs
                //-         .item(title='weekly hours')
                //-             i.calendar.icon
                //-             i.clock.icon
                //-             | #{weekly_hours}hrs
                //-         .item(title='sessions today')
                //-             i.sun.icon
                //-             i.business.time.icon
                //-             | #{daily_sessions} sessions
                //-         .item(title='weekly sessions')
                //-             i.calendar.icon
                //-             i.business.time.icon
                //-             | #{weekly_sessions} sessions
            .sixteen.wide.column
                //- with top_generate
                //-     +generate_card_template
                //- i.link.refresh.icon.refresh_my_time_stats
                //- .ui.small.compact.icon.button.toggle_complete(title='view complete' class=view_complete_class)
                //-     i.checkmark.icon
                //- .ui.small.compact.icon.button.toggle_incomplete(title='incomplete') 
                //-     i.circle.outline.icon
                //- |sort by 
                //- .ui.small.compact.button lucrative
                //- .ui.small.compact.button soonest
                //- .ui.small.compact.button priority
                .ui.header click this item as many times as hours you've contributed
                .largescroll
                    .ui.cards
                        each generate_docs
                            +generate_card_template
                    
                    

template(name='generate_cloud')
    //- #generate_cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    i.grey.tags.icon
    if selected_tags
        #clear_tags.ui.active.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.active.compact.button
                strong #{this}
    each all_tags
        .ui.compact.small.button.select_tag(class=generate_cloud_tag_class) 
            strong #{this.name}




template(name='generate_card_template')
    .ui.link.card.record_generate
        .content
            //- a.ui.header(href="/generate/#{_id}/view") #{title}
            .ui.header #{title}
            div
            .ui.header 
                |#{points}
                points offered
            if assigned_to
                .ui.large.basic.label(title='assigned to')
                    |#{assigned_to}
