template(name='redditors')
    .ui.stackable.padded.grid
        .one.column.row
            .column
                .ui.center.aligned.header
                    i.large.icons
                        i.reddit.icon
                        i.corner.user.outline.icon
                    |redditors
        .one.column.row 
            .column
                .ui.stackable.centered.five.cards 
                    each redditors 
                        +redditor_card
                        
template(name='redditor_card')                        
    .ui.card 
        //- if profile_image_id 
        //-     a.image(href="/redditor/#{handle}")
        //-         img.ui.image(src="{{c.url profile_image_id gravity='face' height='300' crop='crop'}}")
        .content
            a.ui.header(href="/redditor/#{handle}") #{handle}
            .ui.inline.header(title='submission rank') ##{submission_rank}
            .ui.list
                .item #{karma} karma
                .item #{submission_count} submissions
            i.refresh.link.circular.icon
            a.ui.fluid.circular.button(href="/redditor/#{handle}")
                //- |view
                i.chevron.right.icon
                
                
template(name='redditor_page')  
    .ui.stackable.padded.grid
        if template_subs_ready
            if redditor
                with redditor 
                    .four.wide.column
                        .ui.header(title='redditor')
                            i.large.icons
                                i.reddit.icon
                                i.user.icon.corner.icon
                            |#{handle}
                        .ui.header 
                            i.line.chart.icon
                            |stats
                            i.refresh.link.icon
                        .ui.header #{submission_count} submissions
                        .ui.header #{submission_rank} rank
                    .twelve.wide.column
                        .ui.header tag cloud 
                        if tag_cloud.length
                            each tag_cloud
                                .ui.basic.circular.label #{title} #{count}
                            .ui.small.header tag list
                            each tag_list
                                .ui.basic.circular.label #{this}
                        .ui.header submissions
                        .scrolling
                            each submissions
                                .ui.fluid.segment
                                    a.ui.header(href="/doc/#{_id}/view") #{title}
                                    .ui.list
                                        .item
                                            |domain: #{domain}
                                        .item
                                            |upvotes: #{ups}
                                        .item
                                            |comment count: #{comment_count}
                                        .item 
                                            |url: #{url}
                                        .item 
                                            |permalink: #{permalink}
                                        .item 
                                            |subreddit: #{subreddit}
                                    each tags
                                        .ui.black.small.label #{this}
            else 
                .twelve.wide.column
                    .ui.header redditor file not found
                    .ui.button.pull_redditor
                        |create
        else 
            i.large.yin.yang.loading.icon
