template(name='profile_layout')
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .twelve.wide.column
                //- a.ui.circular.button(href="/user/#{username}/dashboard" class="{{isActivePath regex='user_dashboard'}}")
                //-     +icon name='dashboard' cl='ui inline mini image'
                //-     |dashboard
                //- a.ui.circular.button(href="/user/#{username}/about" class="{{isActivePath regex=user_about}}")
                //-     +icon name='info' cl='ui inline mini image'
                //-     |about

                //- a.ui.circular.button(href="/user/#{username}/events" class="{{isActivePath regex='user_events'}}")
                //-     +icon name='calendar' cl='ui inline mini image'
                //-     |generate
                //- a.ui.circular.button(href="/user/#{username}/spend" class="{{isActivePath regex='user_spend'}}")
                //-     +icon name='spend' cl='ui inline mini image'
                //-     |spend
                //- a.ui.circular.button(href="/user/#{username}/friends" class="{{isActivePath regex='user_friends'}}")
                //-     +icon name='groups' cl='ui inline mini image'
                //-     |friends
                //- a.ui.circular.button(href="/user/#{username}/messages" class="{{isActivePath regex='user_messages'}}")
                //-     +icon name='chat' cl='ui inline mini image'
                //-     |messages
                //- if is_current_user
                //- +user_friend_button            
                +yield    
            .four.wide.column
                img.ui.centered.small.circular.profile_image.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a(href="/user/#{username}")
                    .ui.header #{username}
                a.ui.large.fluid.circular.button(href="/user/#{username}/edit")
                    i.cog.icon
                    |account
                a.ui.fluid.circular.button.logout(href="#")
                    i.sign.out.alternate.icon
                    |log out
                a.ui.fluid.circular.button.logout_other_clients(href="#")
                    //- i.globe.icon
                    |log out other clients
                //- if is_admin
                //-     .ui.circular.segment
                //-         .ui.header 
                //-             i.grey.shield.small.icon
                //-             |roles
                //-         each roles
                //-             .ui.circular.label #{this}
                      



template(name='user_dashboard')
    //- .ui.header hi
    .ui.header #{points}
    .ui.header #{level} level
    .ui.header 
        |earned
        +icon name='receive-cash'
    .ui.header 
        |earned
        +icon name='donate'
    //- .ui.center.aligned.header 
    //-     +icon name='dashboard'
    //-     |dashboard
    //- .ui.stackable.padded.grid
    //-     .row
    //-         .five.wide.column
    //-             .ui.segment
    //-                 .ui.header 
    //-                     +icon name='generate'
    //-                     |generate
    //-             .spacer    
    //-         .five.wide.column
    //-             .ui.segment
    //-                 .ui.header 
    //-                     +icon name='chat'
    //-                     |messages
    //-             .spacer    
    //-         .five.wide.column
    //-             .ui.segment
    //-                 .ui.header 
    //-                     +icon name='sales'
    //-                     |messages
    //-             .ui.segment
    //-                 .ui.header 
    //-                     +icon name='spend'
    //-                     |spend
    //-             .spacer    
    //- 

template(name='user_groups')
    .ui.center.aligned.header 
        i.users.icon
        | groups



template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.circular.button.unfriend
            .visible.content
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.circular.button.friend
            i.plus.icon
            |friend



template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}
