template(name='profile_layout')
    //- img.ui.fluid.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .four.wide.center.aligned.column
                img.ui.centered.small.circular.profile_image.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a.ui.large.center.aligned.header(href="/user/#{username}") #{username}
                .spacer
                if is_current_user
                    a.ui.fluid.circular.compact.large.button(href="/user/#{username}/edit")
                        +icon name='settings' cl='ui mini inline image'
                        |account
                    a.ui.fluid.circular.compact.large.button.logout(href="#")
                        +icon name='logout-rounded' cl='ui mini inline image'
                        |log out
                unless is_current_user
                    +user_friend_button 
                    .ui.fluid.compact.button.quick_give
                        +icon name='initiate-money-transfer' cl='ui inline mini image'
                        |quick +1
                    .ui.fluid.compact.button.give
                        +icon name='donate' cl='ui inline mini image'
                        |give
                    .ui.fluid.compact.button.request
                        +icon name='trust' cl='ui inline mini image'
                        |request
             
                .ui.header #{level} level
                .ui.header #{points}pts
                       
                //- a.ui.fluid.circular.button.logout_other_clients(href="#")
                //-     //- i.globe.icon
                //-     |log out other clients
                .ui.header 
                    +icon name='shield'
                    |roles
                each roles
                    .ui.circular.label #{this}
        
            .twelve.wide.column
                a.ui.circular.large.compact.button(href="/user/#{username}/dashboard" class="{{isActivePath regex='user_dashboard'}}")
                    +icon name='dashboard' cl='ui inline mini image'
                    |dashboard
                a.ui.circular.large.compact.button(href="/user/#{username}/about" class="{{isActivePath regex=user_about}}")
                    +icon name='info' cl='ui inline mini image'
                    |about
                a.ui.circular.large.compact.button(href="/user/#{username}/generated" class="{{isActivePath regex='user_generated'}}")
                    +icon name='sprout' cl='ui inline mini image'
                    |generated
                a.ui.circular.large.compact.button(href="/user/#{username}/spent" class="{{isActivePath regex='user_spent'}}")
                    +icon name='rain' cl='ui inline mini image'
                    |spent
                a.ui.circular.large.compact.button(href="/user/#{username}/friends" class="{{isActivePath regex='user_friends'}}")
                    +icon name='groups' cl='ui inline mini image'
                    |friends
                a.ui.circular.large.compact.button(href="/user/#{username}/messages" class="{{isActivePath regex='user_messages'}}")
                    +icon name='chat' cl='ui inline mini image'
                    |chat
                div   
                +yield    
                      



template(name='user_dashboard')
    .ui.stackable.two.column.grid
        .column
            .ui.header 
                +icon name='sprout'
                |Generated
            .ui.list.smallscroll
                each earned_items
                    .item
                        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header #{when} from 
                                a(href="/user/#{username}")
                                    |#{author.username}
                            .description
                                strong #{amount} 
        .column
            .ui.header 
                +icon name='rain'
                |Spent
            .ui.list.smallscroll
                each spent_items
                    .item 
                        img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header #{when} #{author.username} #{amount} to 
                            .description
                                a(href="/user/#{target.username}")
                                    |#{target.username}
                        
    +user_following
    +user_groups

template(name='user_groups')
    .ui.center.aligned.header 
        i.users.icon
        | groups



template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.circular.button.unfriend
            .visible.content
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.circular.button.friend
            i.plus.icon
            |friend



template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}
