template(name='profile_layout')
    //- img.ui.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .four.wide.center.aligned.column
                img.ui.centered.small.profile_image.circular.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a.ui.large.center.aligned.header.refresh_user_stats(href="/user/#{username}") #{username}
                //- .ui.tertiary.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
                .spacer
                .ui.horizontal.list
                    .item #{boops}x booped
                    .item #{debit_count} debits
                        .ui.label ##{global_debit_count_rank}
                    .item #{credit_count} credits
                        .ui.label ##{global_credit_count_rank}
                    .item #{total_debit_amount}pts total given
                    .item #{total_credit_amount}pts total received
                    .item #{calculated_user_balance} calculated user balance
                if is_admin
                    .ui.horizontal.list 
                        .item #{total_bandwith} total bandwith
                        .item #{debit_credit_ratio} debit_credit_ratio
                        .item {{fixed dc_ratio_inverted}} dc_ratio_inverted
                        .item {{fixed credit_debit_ratio}} credit_debit_ratio
                        .item {{fixed cd_ratio_inverted}} cd_ratio_inverted
                .ui.small.header {{fixed one_score}} one score
                if is_admin
                    a.ui.basic.button(href="/user/#{username}/edit")
                        +icon name='shield' cl='ui mini inline image'
                        |account
                if is_current_user
                    a.ui.large.tertiary.button(href="/user/#{username}/edit")
                        +icon name='settings' cl='ui mini inline image'
                        |account
                    a.ui.large.tertiary.button.logout(href="#")
                        +icon name='logout-rounded' cl='ui mini inline image'
                        |log out
                unless is_current_user
                    if currentUser
                        +user_friend_button 
                        .ui.tertiary.button.quick_give
                            +icon name='initiate-money-transfer' cl='ui inline mini image'
                            |quick +1
                        .ui.tertiary.button.give
                            +icon name='donate' cl='ui inline mini image'
                            |give
                        .ui.tertiary.button.offer
                            +icon name='hand-planting' cl='ui inline mini image'
                            |offer
             
                .ui.inline.header levels
                each levels
                    .ui.basic.label #{this}
                .ui.header #{points}pts
                       
                //- a.ui.tertiary.button.logout_other_clients(href="#")
                //-     //- i.globe.icon
                //-     |log out other clients
                .ui.inline.header 
                    +icon name='shield'
                    |roles
                each roles
                    .ui.label #{this}
        
            .twelve.wide.column
                a.ui.large.tertiary.button(href="/user/#{username}/dashboard" class="{{isActivePath regex='user_dashboard'}}")
                    +icon name='home' cl='ui inline mini image'
                    |dashboard
                a.ui.large.tertiary.button(href="/user/#{username}/about" class="{{isActivePath regex=user_about}}")
                    +icon name='info' cl='ui inline mini image'
                    |about
                a.ui.large.tertiary.button(href="/user/#{username}/generated" class="{{isActivePath regex='user_generated'}}")
                    +icon name='sprout' cl='ui inline mini image'
                    |generated
                a.ui.large.tertiary.button(href="/user/#{username}/gifted" class="{{isActivePath regex='user_gifted'}}")
                    +icon name='plant-under-rain' cl='ui inline mini image'
                    |gifted
                //- a.ui.large.tertiary.button(href="/user/#{username}/posts" class="{{isActivePath regex='user_posts'}}")
                //-     +icon name='rss' cl='ui inline mini image'
                //-     |posts
                a.ui.large.tertiary.button(href="/user/#{username}/events" class="{{isActivePath regex='user_events'}}")
                    +icon name='calendar' cl='ui inline mini image'
                    |events
                //- a.ui.large.tertiary.button(href="/user/#{username}/pictures" class="{{isActivePath regex='user_pictures'}}")
                //-     +icon name='picture' cl='ui inline mini image'
                //-     |pictures
                //- a.ui.large.tertiary.button(href="/user/#{username}/friends" class="{{isActivePath regex='user_friends'}}")
                //-     +icon name='groups' cl='ui inline mini image'
                //-     |friends
                a.ui.large.tertiary.button(href="/user/#{username}/badges" class="{{isActivePath regex='user_badges'}}")
                    +icon name='verified-badge' cl='ui inline mini image'
                    |badges
                a.ui.large.tertiary.button(href="/user/#{username}/messages" class="{{isActivePath regex='user_messages'}}")
                    +icon name='chat' cl='ui inline mini image'
                    |chat
                div   
                +yield    
                      



template(name='user_dashboard')
    .ui.stackable.three.column.grid
        .column
            +user_credits_small
        .column
            .ui.header 
                +icon name='plant-under-rain'
                |gifted
            .ui.link.list.smallscroll
                each gifted_items
                    .item 
                        if target.profile_image_id
                            img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header
                                strong #{amount}pt
                                a(href="/debit/#{_id}/view")
                                    |#{when}
                                    | to 
                            .description
                                a(href="/user/#{target.username}")
                                    |#{target.username}
                                |#{description}
                            .description
                                each tags
                                    .ui.mini.basic.label #{this}
                            if is_admin
                                +remove_button
        .column
            .ui.header 
                +icon name='hand-planting'
                |offers
            .ui.link.list.smallscroll
                each user_offers
                    a.item(href="/offer/#{_id}/view")
                        .header #{amount}pts
                        |#{_author.username}
                        |#{description}
                        |#{when}
                                
    //- +user_following
    //- +user_groups

template(name='user_groups')
    .ui.center.aligned.header 
        i.users.icon
        | groups



template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.tertiary.button.unfriend
            .visible.content
                i.checkmark.icon
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.tertiary.button.friend
            i.plus.icon
            |friend



template(name='user_alerts_small')
    .ui.header 
        i.bell.small.icon
        |alerts
    .ui.list
        each alerts 
            .ui.item #{content}
