template(name='user_debits')  
    .ui.header 
        +icon name='sprout'
        |gifted
    .ui.link.list.scrolling
        each gifted_items
            .item
                if target.profile_image_id
                    img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                strong #{amount}pt
                |to
                a(href="/user/#{target.username}")
                    |#{target.username}
                .content
                    a(href="/debit/#{_id}/view")
                        |#{when} 
                    .description
                        |#{description}
                        each tags
                            .ui.mini.basic.label #{this}
                    if is_admin
                        +remove_button
