template(name='polls')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header.refresh_stats
                    i.shield.icon
                    |polls
                if currentUser
                    .ui.button.add_poll
                        |add poll
            .twelve.wide.column
                each polls
                    .ui.segment
                        a.ui.header(href="/poll/#{_id}/view") #{title}
                        


template(name='poll_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +poll_calendar
            .row
                .four.wide.column
                    //- a.ui.fluid.button(href='/' title='items')
                    //-     i.left.chevron.large.icon
                    a(href="{{c.url image_id }}" target='_window')
                        img.ui.centered.rounded.medium.invert.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                    .ui.header added by #{_author_username}
                    |#{when}
                    .ui.small.header #{view_count} views
                    //- with _author_id
                    //-     +user_card
                .six.wide.column
                    h2
                        .ui.center.aligned.inline.header #{title}
                    div
                    i.tag.icon
                    each tags
                        .ui.large.label #{this}
                    div
                    //- else 
                    //-     .ui.header not answered
                    +comments
    
                .five.wide.column
                    unless answered
                        if can_answer
                            if has_enough
                                .ui.green.fluid.large.right.labeled.icon.button.buy
                                    |buy for #{price}
                                    i.checkmark.icon
                            else
                                .ui.green.disabled.button
                                    |not enough
                    else
                        .ui.secondary.segment
                            .ui.green.fluid.large.disabled.button 
                                |answered by 
                                strong #{buyer_username}
                            .ui.inline.header buyer
                            a.ui.large.button(href="/user/#{buyer_username}")
                                img.ui.avatar.image(src="{{c.url _buyer.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |{{buyer_username}}
                            .ui.header answered {{long_date answered_timestamp}}
                        
                    if can_edit
                        a.ui.large.button(href="/poll/#{_id}/edit" title='edit')
                            i.pencil.blue.icon
                            |edit
                    +voting_full
                    div
                    //- +viewing
                    with _author_id
                        +seller_card
                    
                    
template(name='poll_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}'
                    a.ui.big.icon.fluid.button(href="/poll/#{_id}/view" title='save')
                        i.checkmark.green.icon
                    +remove_button
                .ten.wide.column
                    +text_edit key='title' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +textarea_edit key='content' label='content' icon='list' direct=true
                    +image_edit key='image_id' label='image' direct=true
