template(name='question_segment')                    
    .ui.segment
        a.ui.header(href="/question/#{_id}/view") #{question}
        .ui.small.header #{choice_count}
        .ui.small.header #{answer_count}
        each answers
            .ui.header #{title}
        if can_edit
            a.ui.icon.button(href="/question/#{_id}/edit")
                i.pencil.icon
        +voting
                        


template(name='question_view')
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            //- .row
            //-     .sixteen.wide.column
            //-         +question_calendar
            .row
                .four.wide.column
                    a.ui.fluid.button(href='/questions' title='questions')
                        i.left.chevron.large.icon
                    .ui.header added by #{_author_username}
                    |#{when}
                    i.refresh.circular.link.icon
                    .ui.small.header #{view_count} views
                    .ui.header #{answers.count} answers
                    div
                    i.tag.icon
                    each tags
                        .ui.large.label #{this}                    
                    with _author_id
                        +user_card
                .eight.wide.column
                    h2
                        .ui.center.aligned.inline.header #{question}
                    div
                    if your_answer
                        .ui.header your answer
                        with your_answer
                            .ui.header #{answer}
                    .ui.header all answers
                    .ui.segments
                        each answers
                            .ui.segment
                                .ui.inline.header #{choice_text}
                                i.user.outline.icon
                                |#{_author_username}
                                if can_edit
                                    +remove_button
                                if is_admin
                                    +print_this
                                
                .four.wide.column
                    .ui.icon.button.refresh_question_stats
                        i.refresh.icon
                    if your_answer
                        .ui.items
                            each choices
                                .item #{text} #{choice_answer_count}
                    else
                        .ui.selection.animated.big.list
                            each choices
                                .item.choose_choice #{text}
                    if can_edit
                        a.ui.large.button(href="/question/#{_id}/edit" title='edit')
                            i.pencil.blue.icon
                            |edit
                    
                    
template(name='question_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{question}'
                    a.ui.big.icon.fluid.button(href="/question/#{_id}/view" title='save')
                        i.checkmark.green.icon
                    +remove_button
                .ten.wide.column
                    +text_edit key='question' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    div
                    +float_edit key='bounty' label='credit bounty per answer' direct=true
                    //- +key_value_edit key='question_type' value='true_false' label='true/false' direct=true
                    .ui.header choices
                    .ui.icon.button.add_choice
                        i.plus.icon
                    each choices
                        .ui.segment
                            +text_edit key='text' label='text' direct=true
