template(name='register')
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'forest-bg2' width=1000 crop='fit'}}")    
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    //- a.ui.icon.button(href="/")
                    //-     i.large.home.icon
                        
                    div
                    .ui.big.inline.header One Riverside
                    //- i.big.yin.yang.icon
                    .ui.inline.header register
                //- if message
                //-     h4.ui.center.aligned.header #{message}
                .ui.small.inline.header 
                    |first name
                .ui.fluid.input(class=login_class)
                    input.first_name(type='text')
                .ui.small.inline.header 
                    |last name
                .ui.fluid.input(class=login_class)
                    input.last_name(type='text')
                //- .ui.small.inlnjkjhjgm 
                .ui.small.inline.header 
                    +icon name='accessibility2'
                    |username
                .ui.fluid.icon.input(class=login_class)
                    //- if email_valid
                    if username_valid
                        i.checkmark.icon
                    else
                        i.ban.icon
                    input.username(type='text')
                .ui.small.inline.header 
                    //- i.lock.grey.icon
                    +icon name='password'
                    | password
                .ui.fluid.input(class=login_class)
                    input.password(type='password')
                //- .ui.fluid.labeled.input(class=login_class)
                //-     .ui.small.inline.header 
                //-         i.lock.grey.icon
                //-         | password again
                //-     input.password2(type='password')
                if can_register
                    //- if registering
                    .ui.fluid.large.basic.button.register(class=enter_class)
                        //- i.user.plus.icon
                        +icon name='plus' cl='ui avatar image'
                        |register '#{username}'
                else
                    .ui.small.header username "#{username}" found
                    a.ui.basic.fluid.button(href='/login') 
                        //- i.right.chevron.icon
                        +icon name='internal'
                        |login
                .ui.center.aligned.basic.segment    
                    .ui.small.header by registering you agree to our 
                        a(href='/p/privacy' target="_window") privacy policy
                    unless username
                        .ui.small.header or
                            a.ui.basic.sign.in.button(href='/login') 
                                //- i.sign.in.alternate.icon
                                +icon name='internal'
                                |login
                    
